.left__section {
  height: 100%;
  width: 100%;
  background: $left-section-color;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;

  header {
    margin-bottom: 3rem;

    div.logo {
      font-family: $logo-font;
      letter-spacing: 3px;
      font-size: 1rem;
      color: $left-section-text-color;
    }
  }

  .form__section {
    height: 80%;
    width: 380px;
    display: flex;
    flex-direction: column;
    align-self: center;
    border: 1px solid #f4f4f4;
    border-radius: 2rem;

    form {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 400px;
      padding: 30px;

      .title {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 20px;
        font-family: $logo-font;
      }

      label {
        display: block;
        margin-bottom: 5px;
      }

      div {
        position: relative;
        margin-bottom: 15px;

        i {
          position: absolute;
          padding: 10px;
        }

        .failure-icon,
        .error {
          color: red;
        }

        .success-icon {
          color: green;
        }

        .error {
          font-size: 14.5px;
          margin-top: 5px;
        }

        .success-icon,
        .failure-icon {
          right: 0;
          opacity: 0;
        }
      }

      small {
        text-align: center;

      }

      div input {
        width: 100%;
        height: 40px;
        border-radius: 8px;
        outline: none;
        border: 1px solid #f4f4f4;
        padding: 0 33px;
        background-color: #090909;
        color: #f4f4f4;
      }
    }

    button[type=submit] {
      margin-bottom: 15px; 
      width: 100%;
      height: 45px;
      background-color: #090909;
      border: 1px solid #f4f4f4;
      border-radius: 25px;
      color: #f4f4f4;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.1s ease;
    }

    input#IP2 {
      width: 100%;
      height: 40px;
      border-radius: 8px;
      outline: none;
      border: 1px solid #f4f4f4;
      padding: 0 33px;
      background-color: #090909;
      color: #f4f4f4;
      font: $logo-font;
    }
  }
}
